.mainboard-wrapper {
  background-color: rgb(38, 38, 38);
  flex:1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}