.lotto-wrapper {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotto-number {
  background: rgb(77,77,77);
  border-radius: 100%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-primary);
  cursor: default;
}

.isSelected {
  background-color: var(--color-btn-secondary);
}