.tab-wrapper{
  position: relative;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-primary);
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  &:hover {
    background-color: var(--color-btn-primary);
  }
}

.is-active {
  background-color: var(--color-bg);
  &:hover {
    background-color: var(--color-bg);
  }
}

.board-status-wrapper {
  position: absolute;
  left: 10%;
  top: 50%;
  height: 5px;
  width: 5px;
  transform: translate(0, -50%);

}
