body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: black;
}

html, body, #root{
  height: 100%;
}

:root {
  --color-text-primary: #FFFF;
  --color-text-secondary: #FFFF;
  --color-btn-primary: #4d4d4d;;
  --color-btn-secondary: rgb(236, 93, 42);
  --color-btn-tertiary: rgb(77, 152, 69);
  --color-bg: #262626;
  --color-danger: rgb(235, 65, 55);
}